<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edicion de Factura</title>
        <meta charset="UTF-8"> </meta>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <header>
            <!--Mensajes recibidos de exito-->
            <div class="alert alert-success alert-dismissable text-center" th:if="${success != null}">
                <label th:text="${success}"></label>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            <!--Mensajes recibidos error-->
            <div class="alert alert-danger alert-dismissable text-center" th:if="${error != null}">
                <label th:text="${error}"></label>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            <!--Mensajes de alerta-->
            <div class="alert alert-warning alert-dismissable text-center" th:if="${atencion != null}">
                <label th:text="${atencion}"></label>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        </header>
        <a href="#" class="btn btn-secondary text-center text-uppercase" style="position:fixed;top:0;left:0;" th:href="@{/editar/factura}">Regresar</a>
        <h1 class="text-center">Actualizar Factura</h1>
        <br/>
        <div class="card text-center" style="width: 18rem;margin:auto;">
            <form th:action = "@{/actualizar/factura}" th:object="${facturaDto}" method="post" class="text-center">
                <ul class="list-group list-group-flush" style="display:none;">
                    <li class="list-group-item text-center">
                        <label>ID</label>
                        <input style="text-align:center" id = "idventa" type="text" th:field ="*{idVenta}"/>
                    </li> 
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">
                        <label> Número de factura </label>
                        <input style="text-align:center" id = "numerofactura" type="text" th:field ="*{numeroFactura}"/>
                    </li> 
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label> Código del Producto </label>
                        <input style="text-align:center" id = "codigoproducto" type="text" th:field ="*{codigoProducto}"/>
                    </li> 
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label> Fecha de venta  </label><br/>
                        <input style="text-align:center" id = "fecha" type="date" th:field = "*{fechaVenta}"required/>
                    </li> 
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label> Código del Vendedor</label>
                        <input style="text-align:center" id = "codigovendedor" type="text" th:field = "*{codigoVendedor}"/> 
                    </li> 
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button type = "submit" class="btn btn-success">Editar Factura</button>
                    </li> 
                </ul>  
            </form>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>