<html>
    <head>
        <title>CRUD con Spring</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link th:href="@{/css/heroic-features.css}" rel="stylesheet" />
    </head>
    <body>
        <h1 class='titulo'>¡Bienvenido al Sistema!</h1>
        <!-- PRODUCTOS -->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
